.App {
  text-align: center;

  @font-face {
    font-family: "Atop";
    src: url('./assets/fonts/Atop-R99O3.ttf');
  }
}

.HomeScreen {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  
  .homePage-container{
    height: 80%;

    .welcome-text{
      font-family: 'Atop';
      color: #0D5C63;
      font-size: 50px;
      text-shadow: rgb(255, 255, 255) 3px 0px 0px, rgb(255, 255, 255) 2.83487px 0.981584px 0px, rgb(255, 255, 255) 2.35766px 1.85511px 0px, rgb(255, 255, 255) 1.62091px 2.52441px 0px, rgb(255, 255, 255) 0.705713px 2.91581px 0px, rgb(255, 255, 255) -0.287171px 2.98622px 0px, rgb(255, 255, 255) -1.24844px 2.72789px 0px, rgb(255, 255, 255) -2.07227px 2.16926px 0px, rgb(255, 255, 255) -2.66798px 1.37182px 0px, rgb(255, 255, 255) -2.96998px 0.42336px 0px, rgb(255, 255, 255) -2.94502px -0.571704px 0px, rgb(255, 255, 255) -2.59586px -1.50383px 0px, rgb(255, 255, 255) -1.96093px -2.27041px 0px, rgb(255, 255, 255) -1.11013px -2.78704px 0px, rgb(255, 255, 255) -0.137119px -2.99686px 0px, rgb(255, 255, 255) 0.850987px -2.87677px 0px, rgb(255, 255, 255) 1.74541px -2.43999px 0px, rgb(255, 255, 255) 2.44769px -1.73459px 0px, rgb(255, 255, 255) 2.88051px -0.838247px 0px;  
    }

    .welcome-animation{
      width: 40%;
      margin: auto;
    }

    .start-button{
      margin: auto;
      width: 200px;
      cursor: pointer;
      transition: 100ms;
    }

    .start-button:hover{
      transform: scale(1.2);
    }
  }
}

// src/components/Loading

.LoadingScreen{
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  .among-us-loading{
    transform: scaleX(-1);
  }

  .dot-loading{
    color: #0D5C63;
    width: 150px;
    transform: translate(0px,-180px);
  }
}

// src/pages/ToDoList/ToDoList
.todo-list {
  margin:8% auto 0px auto;
  padding: 0px 7px 7px 7px;
  background-color: #F4E8C1;
  color: #0d5c63;
  width: 400px;
  height: 60vh;
  border:#19647E 3px solid;
  border-radius: 10px;
  position: relative;
  box-sizing: border-box;
  overflow: auto;
  z-index: inherit;

  .todo-header{
    position: fixed;
    width: 380px;
    z-index: 3;

    h5{
      font-family: "Atop";
      background-color: #F4E8C1;
      height: 40px;
      padding: 7px 0px 0px 0px;
      position: relative;
      z-index: 3;
    }
  
    .plus-button{
      color: #0D5C63;
      border: #0D5C63 2px solid;
      margin-top: 7px;
      position: absolute;
      right: 7px;
      z-index: 4;
    }

    .ToDoInputBox{
      transition: 500ms;
      position: relative;
      transform: translate(0px,-40px);
      top:0;
      z-index: 2;

      .task-input{
        input{
          border: none;
          border-radius: 10px 0px 0px 10px;
          padding-left: 10px;
          outline: none;
        }
    
        input[type=text]:focus{
          border: #0D5C63 2px solid;
        }
    
        button{
          border: none;
          border-radius: 0px 10px 10px 0px;
          color: #0D5C63;
        }
    
        button:active{
          background-color: #0D5C63;
          color: white;
        }
      }
    }

    .drop{
      transform: translate(0px,-4px);
    }
  }
  
  .task-table{
    padding-top: 70px;
    z-index: 1;

    .ToDoRow{
      width: 380px;
      display: flex;
      justify-content: center;
      
      .task{
        width: 320px;
        text-align: left;
        background-color: #ffffff;
        border-radius: 10px;
        display: flex;
        justify-content: space-between;

        .complete{
          text-decoration: line-through;
        }

        .todo{
          width: 270px;
          // background-color: red;
          cursor:text;
          margin: 0;
          padding: 0;
        }

        input{
          border: none;
          border: #0D5C63 2px solid;
          border-radius: 10px 0 0 10px;
          outline: none;
        }
      }
    }
  }
}

::-webkit-scrollbar{
  width: 8px;
}

::-webkit-scrollbar-track{
  margin:40px 0px 10px 0px;
  background-color: #F4E8C1;
  border-radius: 30px;
}

::-webkit-scrollbar-thumb{
  background-color: #0D5C63;
  border: #F4E8C1 2px solid;
  border-radius: 30px;

}